/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.navbar-brand img {
    width: 95px;
}

/* Jumbotron */

.jumbotron {
    background-image: url(/img/background-image.png);
    background-size: cover;
    height: 340px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-weight: 200;
    font-size: 32px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .lead {
    color: white;
    text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -110px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}

/* Working space */
.workingspace {
    margin-top: 50px;
}

footer {
    margin-top: 20px;
}

footer .logo-footer {
    width: 120px;
    padding-top: 20px;
    padding-right: 20px;
}

footer .info-footer {
    padding-top: 20px;
}

/* Desktop Version */

@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 540px;
    }

    .jumbotron .display-4 {
        color: white;
        text-align: center;
        margin-top: 150px;
        font-weight: 400;
        font-size: 54px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
}